<% if bookmark.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(bookmark.errors.count, "error") %> prohibited this
      post from being saved:</h4>

    <ul>
    <% bookmark.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
