
<%=link_to 'New bookmark', new_bookmark_path %>


<div class='filters'>
Category filters:
<%= link_to 'Serious', '/bookmarks/serious' %>
</div>

<ul>
<% @bookmarks.each do |bookmark| %>
<li>
    <%= link_to bookmark.title, bookmark %>
    <% if bookmark.category != nil %>
     | (<%= bookmark.category %>)
     <% else %>
     | (uncategorized)
    <% end %>
    <% if bookmark.is_favorite? %>
     | (favorite)
    <% end %>
    <% if bookmark.comment? %>
     | (comment)
    <% end %>
</li>
<% end %>
</ul>
