<ul>
<% @bookmarks.each do |bookmark| %>
<li><%= bookmark.title %>
    <% if bookmark.category != nil %>
     | (<%= bookmark.category %>)
     <% else %>
     | (uncategorized)
    <% end %>
    <% if bookmark.is_favorite? %>
     | (favorite)
    <% end %>
    <% if bookmark.comment? %>
     | (comment)
    <% end %>
</li>
<% end %>
</ul>
